doctype html
html(lang = "en")
  head
    title URAN_test_task
    link(rel = 'shortcut icon', href = '/static/images/favicon.ico')
    link(rel = 'stylesheet', href = '/static/css/main.css')
    link(rel = 'stylesheet', href ='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    script(src = 'https://code.jquery.com/jquery-3.2.1.min.js')
    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')

  body
    div.container
      div.row
        div.col.s4
        div.col.s1
          a(href="/api/en")
            p.langOption English
        div.col.s1
          a(href="/api/ru", class= 'langOption')
            p.langOption Русский
        div.col.s1
          a(href="/api/ua", class= 'langOption')
            p.langOption Українська
        div.col.s1
          a(href="/api/de", class= 'langOption')
            p.langOption Deutsch
      div.row
        div.col.s12
           h2 #{langOption.__("Database demo")}
           img(src = '/static/images/mongodb-logo.png')
      div.row
        div.col.s3.box
          p #{langOption.__("Add Record")}
          form(method = 'POST', action = '/api/insert')
            input(name = 'name', id = 'name', type = 'text', placeholder = langOption.__("Name"))
            input(name = 'email', id = 'email', type = 'email', placeholder = langOption.__("Email"))
            input(type = 'submit', value = langOption.__("Submit"))
        div.col.s1
        div.col.s4.box
          p #{langOption.__("Update Record")}
          form(method = 'POST' action = '/api/update')
            input(name = 'id', id = 'id', type = 'text', placeholder = langOption.__("Id"))
            input(name = 'name', id = 'name', type = 'text', placeholder = langOption.__("Name"))
            input(name = 'email', id = 'email', type = 'email', placeholder = langOption.__("Email"))
            input(type = 'submit', value = langOption.__("Submit"))

        div.col.s1
        div.col.s3.box
          p #{langOption.__("Delete Record")}
          form(method = 'POST', action = '/api/delete')
            input(name = 'id', id = 'id', type = 'text', placeholder = langOption.__("Id"))
            input(type = 'submit', value = langOption.__("Submit"))

      div.row
        div.col.s12.box
          p #{langOption.__("All Records")}
          table
            tr.entry
              th.entry #{langOption.__("Id")}
              th.entry #{langOption.__("Name")}
              th.entry #{langOption.__("Email")}
            if data
              each entry in data
                tr.entry
                  td.entry #{entry._id}
                  td.entry #{entry.name}
                  td.entry #{entry.email}

